*{
    padding: 0;
    margin: 0;
}
header{
    background: rgb(13, 13, 14);
    max-width: 100vw;
    height: 12vh;
}
.nav{
    display: flex;
}
.city-sign{
margin-left: 620px;
    display: flex;
  align-items: center;
  justify-content: center;  
}
.city-sign p{
    margin-right: 2rem;
}
.city-sign i{
    margin-left: 2rem;
}
i{
    color:white;
}
.logo-search input.txt{
    width: 323px;
    height: 37px;
    margin: 20px;
}
img.img{
    width: 13vw;
}
button.btn{
    width: 112px;
    height: 37px;
}
p.city{
    color: wheat;
}
.logo-search i{
    margin-left: 2px;
}
.below{
    display: flex;
    background: grey;
   margin-bottom: 20px;
   height: 9vh;
}
.category1 ul{
    display: flex;
    margin-left: 20px;
   margin-top: 25px;
}
.category1 ul li{
    list-style: none;
    margin-left: 20px;
    color: rgb(204, 210, 215);
    
}
.category1 ul li:hover{
    cursor: pointer;
    color: aliceblue;
}
.category2 ul{
    display: flex;
    margin-left: 700px;
    margin-top: 25px;

}
.category2 ul li{
    list-style: none;
    margin-left: 15px;
    color: rgb(204, 210, 215);
}
.category2 ul li:hover{
    cursor: pointer;
    color: aliceblue;
}
main{
    margin-top:60px ;
}